<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="index.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<style>
    .demo-block {
        border: 2px solid #ccc;
        border-radius: 8px;
        transition: .2s;
        padding: 24px;
    }

    div {
        display: block;
    }

    body {
        font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
        overflow: auto;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
    }

    .el-tabs__header {
        width: 88%;
    }
</style>

<body>
    <div id="app" class="demo-block demo-box demo-zh-CN demo-layout">
        <el-row :gutter="20">
            <el-col :span="6">
                <el-input placeholder="输入关键字进行过滤" v-model="filterText" style="margin-bottom: 20px">
                </el-input>
                <el-tree class="filter-tree" :data="dataTree" :props="{ children: 'children',label: 'label'}" :filter-node-method="filterNode"
                    @node-expand="loadchile" @node-click="loadtableinfo" accordion ref="tree2" highlight-current :expand-on-click-node="false">
                </el-tree>
            </el-col>
            <el-col :span="18">
                <div style="position: fixed;width: 72%;">
                    <div style="text-align: right;padding-right: 2%;margin-bottom: -32px;">
                        <el-tooltip class="item" effect="dark" content="只保留当前" placement="bottom">
                            <el-button type="primary" icon="delete2" @click="closeTher"></el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="关闭全部" placement="bottom">
                            <el-button type="primary" icon="delete" @click="closeAll"></el-button>
                        </el-tooltip>
                    </div>
                    <el-tabs v-model="editableTabsValue" type="card" closable @edit="handleTabsEdit" v-show="editableTabs.length > 0">
                        <el-tab-pane :key="item.name" v-for="(item, index) in editableTabs" :label="item.title" :name="item.name">
                            <div style="margin: 15px;">
                                <el-input placeholder="修正表名" v-model="input5">
                                    <el-button slot="append" icon="search"></el-button>
                                </el-input>
                            </div>
                            <div style="margin: 15px;">
                                <el-input placeholder="修改表描述" v-model="input5">
                                    <el-button slot="append" icon="search"></el-button>
                                </el-input>
                            </div>
                            <el-table :data="item.tableData" height="680" border style="width: 100%" :stripe="true" :highlight-current-row="true" @row-dblclick="selectrow">
                                <el-table-column prop="fieldname" label="列名" width="190" sortable>
                                </el-table-column>
                                <el-table-column prop="identifying" label="标识" width="75">
                                </el-table-column>
                                <el-table-column prop="primarykey" label="主键" width="75">
                                </el-table-column>
                                <el-table-column prop="types" label="类型" width="125" sortable>
                                </el-table-column>
                                <el-table-column prop="ornull" label="允许空" width="85">
                                </el-table-column>
                                <el-table-column prop="defaults" label="默认值" width="125">
                                </el-table-column>
                                <el-table-column prop="describe" label="描述">
                                </el-table-column>
                            </el-table>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </el-col>
        </el-row>
        <el-dialog title="设置字段" :visible.sync="dialogFieldVisible">
            <el-form :model="fieldInfo">
                <el-form-item label="字段名" :label-width="formLabelWidth">
                    <el-input v-model="fieldInfo.newfield" :value="fieldInfo.fieldname" style="width:40%"></el-input>
                </el-form-item>
                <el-form-item label="主键" :label-width="formLabelWidth">
                    <el-switch on-text="" off-text="" v-model="fieldInfo.primarykey"></el-switch>
                </el-form-item>
                <el-form-item label="自增" :label-width="formLabelWidth">
                    <el-switch on-text="" off-text="" v-model="fieldInfo.identifying"></el-switch>
                </el-form-item>
                <el-form-item label="数据类型" :label-width="formLabelWidth">
                    <el-select v-model="fieldInfo.types" filterable placeholder="请选择数据类型">
                        <el-option v-for="item in fieldTypeOptions" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="允许空" :label-width="formLabelWidth">
                    <el-switch on-text="" off-text="" v-model="fieldInfo.ornull"></el-switch>
                </el-form-item>
                <el-form-item label="默认值" :label-width="formLabelWidth" style="width:60%">
                    <el-input v-model="fieldInfo.defaults"></el-input>
                </el-form-item>
                <el-form-item label="描述" :label-width="formLabelWidth">
                    <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="fieldInfo.describe">
                    </el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFieldVisible = false">取 消</el-button>
                <el-button type="primary" :loading="btnload.state" @click="submitrow()">{{btnload.text}}</el-button>
            </div>
        </el-dialog>
    </div>
    <script src="jquery.min.js"></script>
    <script src="lodash.min.js"></script>
    <script src="vue.js"></script>
    <script src="index.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                filterText: '', // 表名筛选文本
                editableTabsValue: '0',
                tabIndex: 0,
                editableTabs: [],
                dataTree: [],
                dialogFieldVisible: false,
                formLabelWidth: '130px',
                fieldInfo: {
                    fieldname: '',
                    newfield: '',
                    identifying: false,
                    primarykey: false,
                    types: '',
                    ornull: false,
                    defaults: '',
                    describe: '',
                },
                btnload: {
                    state: false,
                    text: '提交'
                },
                fieldTypeOptions: [],
            },
            watch: {
                filterText(val) { // 筛选规则
                    this.$refs.tree2.filter(val);
                    if (!val) {
                        this.closeAllTree(vm.$refs.tree2.$children);
                    }
                }
            },
            methods: {
                closeTher: function () {
                    var that = this;
                    var tab = _.find(that.editableTabs, function (e) {
                        return e.name == that.editableTabsValue;
                    })
                    if (tab) {
                        that.editableTabs = [tab];
                    }
                },
                closeAll: function () {
                    this.editableTabs = [];
                },
                closeAllTree: function (treeList) {
                    treeList.forEach((tree) => {
                        if (tree.node && tree.node.childNodes && tree.node.childNodes.length > 0 && tree.node.expanded) {
                            tree.node.expanded = false;
                            this.closeAllTree(tree.node.childNodes);
                        } else {
                            if (tree.childNodes && tree.childNodes.length > 0 && tree.expanded) {
                                tree.expanded = false;
                                this.closeAllTree(tree.childNodes);
                            }
                        }
                    })
                },
                selectrow: function (row, event) {
                    this.dialogFieldVisible = true;
                    this.fieldInfo = {
                        newfield: row.fieldname,
                        fieldname: row.fieldname,
                        identifying: row.identifying && row.identifying.length > 0,
                        primarykey: row.primarykey && row.primarykey.length > 0,
                        ornull: row.ornull && row.ornull.length > 0,
                        defaults: row.defaults,
                        describe: row.describe,
                        lengths: row.length,
                        types: row.types
                    };
                },
                submitrow: function () {
                    var that = this;
                    $.ajax({
                        type: "post",
                        url: "GetInfo.ashx",
                        data: {
                            ajaxName: "SubmitRow",
                            rowData: JSON.stringify(that.fieldInfo)
                        },
                        complete: function (d) {
                            //d.responseText
                        }
                    });
                    dialogFieldVisible = false;
                },
                loadtableinfo: function (data, node) {
                    if (node.level == 2) {
                        var ishaving = _.findIndex(this.editableTabs, function (tab) {
                            return tab.title == data.label && tab.parenttitle == node.parent.label;
                        });
                        if (ishaving != -1) {
                            this.editableTabsValue = this.editableTabs[ishaving].name;
                            return;
                        }
                        $.ajax({
                            type: "post",
                            url: "GetInfo.ashx",
                            data: {
                                "ajaxName": "GetTableInfo",
                                "parentLabel": node.parent.label,
                                "label": data.label
                            },
                            success: function (d) {
                                let newTabName = ++vm.tabIndex + '';
                                vm.editableTabs.push({
                                    title: data.label,
                                    parenttitle: node.parent.label,
                                    name: newTabName,
                                    tableData: JSON.parse(d)
                                });
                                vm.editableTabsValue = newTabName;
                            }
                        });
                        return;
                    }
                },
                loadchile: function (data, node) {
                    if (node.level > 1) {
                        return;
                    }
                    if (node.childNodes.length > 1) {
                        return;
                    }
                    $.ajax({
                        type: "post",
                        url: "GetInfo.ashx",
                        data: {
                            "ajaxName": "GetTableList",
                            "id": data.id,
                            "label": data.label
                        },
                        success: function (d) {
                            data.children = JSON.parse(d);
                        }
                    });
                },
                filterNode(value, data, node) { // 筛选规则
                    if (!value) {
                        return true;
                    };
                    return data.label.toLowerCase().indexOf(value.toLowerCase()) !== -1;
                },
                handleTabsEdit(targetName, action) {
                    if (action === 'remove') {
                        let tabs = this.editableTabs;
                        let activeName = this.editableTabsValue;
                        if (activeName === targetName) {
                            tabs.forEach((tab, index) => {
                                if (tab.name === targetName) {
                                    let nextTab = tabs[index + 1] || tabs[index - 1];
                                    if (nextTab) {
                                        activeName = nextTab.name;
                                    }
                                }
                            });
                        }
                        this.editableTabsValue = activeName;
                        this.editableTabs = tabs.filter(tab => tab.name !== targetName);
                    }
                },
            },
            mounted: function () {
                $.ajax({
                    type: "post",
                    url: "GetInfo.ashx",
                    data: {
                        "ajaxName": "GetDbList",
                    },
                    success: function (d) {
                        vm.dataTree = JSON.parse(d);
                    }
                });
            }
        });
    </script>
</body>

</html>