<!DOCTYPE html>
<style>
    .demo-block {
        border: 2px solid #ccc;
        border-radius: 8px;
        transition: .2s;
        padding: 24px;
    }

    div {
        display: block;
    }

    body {
        font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
        overflow: auto;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
    }

    .el-tabs__header {
        width: 88%;
    }

    .table-describe {
        float: left;
        width: 60%;
        margin-left: 6%;
        margin-bottom: 15px
    }

</style>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="Content/index.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<body>
    <div id="app" class="demo-block demo-box demo-zh-CN demo-layout">
        <el-row :gutter="20">
            <el-col :span="6">
                <el-input placeholder="输入关键字进行过滤" v-model="filterText" style="margin-bottom: 20px">
                </el-input>
                <el-tree class="filter-tree" :data="dataTree" :props="{ children: 'children',label: 'label'}" :filter-node-method="filterNode"
                    @node-expand="loadchile" @node-click="loadtableinfo" accordion ref="tree2" highlight-current>
                </el-tree>
            </el-col>
            <el-col :span="18">
                <div style="position: fixed;width: 72%;">
                    <div style="text-align: right;padding-right: 2%;margin-bottom: -32px;">
                        <el-tooltip class="item" effect="dark" content="只保留当前" placement="bottom">
                            <el-button type="primary" icon="delete2" @click="closeTher"></el-button>
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="关闭全部" placement="bottom">
                            <el-button type="primary" icon="delete" @click="closeAll"></el-button>
                        </el-tooltip>
                    </div>
                    <el-tabs v-model="editableTabsValue" type="card" closable @edit="handleTabsEdit" v-show="editableTabs.length > 0">
                        <el-tab-pane :key="item.name" v-for="(item, index) in editableTabs" :label="item.title" :name="item.name">
                            <div class="table-describe" style="margin-left:3%;width:27%">
                                <el-input placeholder="修正表名" v-model="item.tableName">
                                    <el-button slot="append" icon="edit"></el-button>
                                </el-input>
                            </div>
                            <div class="table-describe">
                                <el-input placeholder="修改表描述" v-model="item.tableDescribe">
                                    <el-button slot="append" icon="edit" @click="editTableDescribe(item.tableName,item.tableDescribe)"></el-button>
                                </el-input>
                            </div>
                            <el-table :data="item.tableData" height="680" border style="width: 100%" :stripe="true" :highlight-current-row="true" @row-dblclick="selectrow">
                                <el-table-column prop="fieldname" label="列名" width="190" sortable>
                                </el-table-column>
                                <el-table-column prop="identifying" label="标识" width="75">
                                </el-table-column>
                                <el-table-column prop="primarykey" label="主键" width="75">
                                </el-table-column>
                                <el-table-column prop="types" label="类型" width="125" sortable>
                                </el-table-column>
                                <el-table-column prop="ornull" label="允许空" width="85">
                                </el-table-column>
                                <el-table-column prop="defaults" label="默认值" width="125">
                                </el-table-column>
                                <el-table-column prop="describe" label="描述">
                                </el-table-column>
                            </el-table>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </el-col>
        </el-row>
        <el-dialog title="设置字段" :visible.sync="dialogFieldVisible">
            <el-form :model="fieldInfo">
                <el-form-item label="字段名" :label-width="formLabelWidth">
                    <el-input v-model="fieldInfo.newfield" :value="fieldInfo.fieldname" style="width:40%"></el-input>
                </el-form-item>
                <el-form-item label="主键" :label-width="formLabelWidth">
                    <el-switch on-text="" off-text="" v-model="fieldInfo.primarykey"></el-switch>
                </el-form-item>
                <el-form-item label="自增" :label-width="formLabelWidth">
                    <el-switch on-text="" off-text="" v-model="fieldInfo.identifying"></el-switch>
                </el-form-item>
                <el-form-item label="数据类型" :label-width="formLabelWidth">
                    <el-select v-model="fieldInfo.types" filterable placeholder="请选择数据类型">
                        <el-option v-for="item in fieldTypeOptions" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="允许空" :label-width="formLabelWidth">
                    <el-switch on-text="" off-text="" v-model="fieldInfo.ornull"></el-switch>
                </el-form-item>
                <el-form-item label="默认值" :label-width="formLabelWidth" style="width:60%">
                    <el-input v-model="fieldInfo.defaults"></el-input>
                </el-form-item>
                <el-form-item label="描述" :label-width="formLabelWidth">
                    <el-input type="textarea" :rows="2" placeholder="请输入内容" v-model="fieldInfo.describe">
                    </el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFieldVisible = false">取 消</el-button>
                <el-button type="primary" :loading="btnload.state" @click="submitrow()">{{btnload.text}}</el-button>
            </div>
        </el-dialog>
    </div>
    <script src="Script/jquery.min.js"></script>
    <script src="Script/lodash.min.js"></script>
    <script src="Script/vue.js"></script>
    <script src="Script/element.js"></script>
    <script src="index.js"></script>
</body>

</html>